<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/dashboard/events" data-toggle="collapse" data-target="#collapseEvents"
         aria-expanded="true" aria-controls="collapseEvents">
        <i class="fas fa-fw fa-cog"></i>
        <span>gestion equipement</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed"  routerLink="/dashboard/users" data-toggle="collapse" data-target="#collapseClients"
         aria-expanded="true" aria-controls="collapseClients">
        <i class="fas fa-fw fa-wrench"></i>
        <span>gestion des pannes</span>
      </a>
    </li>
  </ul>