   
    <div class="d-sm-flex align-items-center justify-content-between ml-3 mb-4">
        <h1 class="h3 mb-0 text-gray-800">Pannes</h1>
    </div>

    <div class="row">
        <div class="card ml-3 mx-auto">
            <div>
            </div>
            <div class="card-header">
                <div class="row">
                
                    <div>
                        <a  class="btn btn-primary mb-2" routerLink="create" >Create</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">nom</th>
                            <th scope="col">description</th>
                            <th scope="col">Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <tr *ngFor="let panne of pannes">
                                <th>{{ panne.nom }}</th>
                                <td>{{ panne.description }}</td> 
                                <td>
                                    <a  class="btn btn-danger">edit</a>
                                    <a  class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
