<div class="d-sm-flex align-items-center justify-content-between ml-3 mb-4">
    <h1 class="h3 mb-0 text-gray-800">Équipements</h1>
</div>

<div class="row">
    <div class="card ml-3 mx-auto">
        <div class="card-header">
            <div class="row">
                <div>
                    <a class="btn btn-primary" routerLink="create">Create</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Status</th>
                        <th scope="col">Type</th>
                        <th scope="col">Date Achete</th>
                        <th scope="col">Utilisateur</th>
                        <th scope="col">Manage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let equipement of equipements">
                        <td>
                            <img [src]="'assets/images/' + equipement.imageUrl" alt="Image" style="width: 100px; height: auto;">
                        </td>
                        <td>{{ equipement.nom }}</td>
                        <td>{{ equipement.status }}</td>
                        <td>{{ equipement.type }}</td>
                        <td>{{ equipement.dateAchetee | date }}</td>
                        <td>{{ equipement.utilisateur || 'Not in use'}}</td>
                        <td>
                            <a class="btn btn-success mr-2" [routerLink]="['/admin/admin-dashboard/equipements/edit', equipement.id]">Edit</a>
                            <a class="btn btn-danger" >Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
